
.cg-text {

  &__paragraph {
    margin-bottom: $spacing-xs;
    line-height: $line-height-default;
  }

  &__link {
    display: inline-block;
    font-size: $font-size-s;
    color: $white;
    font-weight: $font-weight-bold;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}