/* VARIABLES */

/* COLORS */
$white: #e2e2e2;
$black: #0b0c0d;
$gray-dark: #181818;

$background-color: #000808;

/* SPACING */
$spacing-xxs:  8px;
$spacing-xs:  16px;
$spacing-s:   24px;
$spacing-m:   32px;
$spacing-l:   48px;
$spacing-xl:  64px;
$spacing-xxl: 80px;

/* FONT SIZES */
$font-size-s: 14px;
$font-size-m: 24px;
$font-size-l: 32px;

$headline-size-xs: 32px;
$headline-size-s: 48px;
$headline-size-m: 80px;
$headline-size-l: 120px;

/* FONT WEIGHTS */
$font-weight-default: 400;
$font-weight-bold: 700;

/* LINE HEIGHTS */
$line-height-default: 1.5;
$line-height-headline: 1.1;
$line-height-list: 1.5;

/* BORDERS */
$border-color-default: $white;
$border-width-default: 1px;
$border-style-default: solid;

/* IMAGES */
$thumbnail-size-s: 72px;
$thumbnail-size: 96px;
